<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="">Nombre</label>
    <input type="text" class="form-control" formControlName="nombre">
    <div class="error" *ngIf="formulario.controls['nombre'].errors?.['required'] && formulario.controls['nombre'].touched">
      El campo nombre es requerido
    </div>
    <div class="error" *ngIf="formulario.controls['nombre'].errors?.['minlength'] && formulario.controls['nombre'].touched">
        El campo debe trener al menos {{formulario.controls['nombre'].errors?.['minlength'].requiredLength  }} caracteres
    </div>
    <!--<div>
      <p>{{formulario.controls['nombre'].errors | json}}</p>
       <p>Valid: {{formulario.controls['nombre'].valid}}</p>
    </div>-->
  </div>
  <div class="form-group">
    <label for="">Apellidos</label>
    <input type="text" class="form-control" formControlName="apellidos">
    <div class="error" *ngIf="formulario.controls['apellidos'].errors?.['maxlength'] && formulario.controls['apellidos'].touched">
      El campo apellido no puede tener mas de {{formulario.controls['apellidos'].errors?.['maxlength'].requiredLength }} caracteres
    </div>
  </div>
  <div class="form-group">
    <label for="">Edad</label>
    <input type="text" class="form-control" formControlName="edad" >
     <div class="error" *ngIf="formulario.controls['edad'].errors?.['edadValidator'] && formulario.controls['edad'].touched">
      El campo edad debe estar entre {{formulario.controls['edad'].errors?.['edadValidator'].min}} y {{formulario.controls['edad'].errors?.['edadValidator'].max}} años
     </div>
  </div>
  <div class="form-group">
    <label for="">Email</label>
    <input type="text" class="form-control" formControlName="email">
    <div class="error" *ngIf="formulario.controls['email'].errors && formulario.controls['email'].touched">
        El campo email es incorrecto
    </div>
    </div>
  <div class="form-group">
    <label for="">Dni</label>
    <input type="text" class="form-control" formControlName="dni">
    <div class="error" *ngIf="formulario.controls['dni'].errors && formulario.controls['dni'].touched">
      {{ formulario.controls['dni'].errors?.['dniValidator'] }}
    </div>
  </div>
  <div class="form-group">
    <label for="">Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <div class="form-group">
    <label for="">Repite Password</label>
    <input type="password" class="form-control" formControlName="repite_password">
  </div>
  <input type="submit" value="Enviar" class="button btn btn-block btn-success" [disabled]="!formulario.valid">
</form>
{{formulario.value | json}}
<div>
  <p>Valido: {{formulario.valid }}</p>
  <p>inValido: {{formulario.invalid }}</p>
  <p>Dirty: {{formulario.dirty}}</p>
  <p>Untouched : {{formulario.untouched}}</p>
</div>
